<%- include('./fragments/header.ejs') %>

    <main>
        <h2>Strona główna</h2>
        <p>A virtual shop makes the whole process more accurate and faster. Virtual stores use 3D computer simulations to create a retail environment that are as close to the real shopping experience as possible. This allows consumers or marketers to interact with the products and the in-store branding.
        </p>
        <p>
            TODO:
            walidacja po stronie klienta, serwera,
            Internacjonalizacja,
            React
        </p>
    </main>

    <%- include('./fragments/footer.ejs') %>

