<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Moje konto</h2>
        <table>
            <thead>
                <tr>
                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>e-mail</th>
                </tr>
            </thead>
        
        <tbody>
            <tr>
                <td>Jan</td>
                <td>Kowalski</td>
                <td>jan.kowalski@kowalskicorporation.eu</td>
                <td>
                <ul>
                     <a href="" class="list-actions-button-edit">Edytuj</a>
                </ul>
                </td>
            </tr>
        </tbody>
        </table>
    </main>

    <%- include('../fragments/footer.ejs') %>
